@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-jbu-navy: #0D2B47;
  --color-jbu-blue: #0A4EA3;
  --color-jbu-light: #C7D8EA;
  --color-jbu-dark: #1B1B1B;
  --color-jbu-white: #FFFFFF;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide Next.js dev overlay button */
#__next-build-watcher,
#__next-route-announcer {
  display: none !important;
}

